


<h1> add a new seller </h1>
<form>
    <ol>
        <li><label> first name</label> </li><br />
         <input /> <br />
        <li> <label> last name</label></li><br />
    <input /><br />

        <li><label> phone number</label> </li><br />
        <input /><br />

        <li><label> email</label> </li><br />
        <input />  <br />
    </ol>
    <input type="submit" value=" add seller" />







</form>